
body{
    font-family: arial,sans-serif;
    overflow-y: hidden;
}
.todo-item .btn-remove-todo {
    display:none;
}

.todo-item:hover .btn-remove-todo {
    display: block;
}

.todo-item .todo-content {
    font-weight: bold;
}
.todo-item.completed .todo-content {
    color:darkgray;
    font-weight: normal;
    text-decoration: line-through;
}

#todo-list {
    margin-bottom: 10px;
}

#btn-remove-all {
    margin-bottom: 10px;
}

.font-size-1em{
    font-size:  1.2em !important;
}   
.header-top{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 999;
    height: 60px;
    background-color: #FFFFFF;}
.after_header{
    top: 50px;
    height: -webkit-fill-available;
    padding-bottom: 115px;
}
.check_item{
    margin: 0px 0px 0px 1em;
}
.item_result{
    box-sizing: border-box;
    margin: 15px 14px 4px 0px;
}
.url_detail{
    color:#006621;
}
.url_link{
    font-size: 18px;
    text-decoration:none ;
    font-weight: normal;
    line-height: 1.2;
}
.url_link:hover{
    text-decoration:underline;
}
.tabs__link{
    text-transform:none !important;
    font-weight: bold !important;
}
.tabs__link:hover{
    color:#1A73E8 !important;
}
.tabs--theme-light.tabs--color-primary 
.tabs__link:not(.tabs__link--is-disabled).tabs__link--is-active,
 .tabs--theme-light.tabs--color-primary
 .tabs__link:not(.tabs__link--is-disabled):hover{
     color:#1A73E8 !important;
 }
 .tabs--theme-light.tabs--color-primary .tabs__indicator{
     background-color:#1A73E8 !important;
 }
 .tabs__indicator {
    height: 3px !important;
}
.url_date{
    color :#808080;
}
.url_tag{
    /*color: #566E76;*/
    background-color: #E2EEF6;
    border-color: transparent;
    position: relative;
    display: inline-block;
    padding: .4em .5em;
    margin: 2px 2px 2px 0;
    font-size: 11px;
    line-height: 1;
    white-space: nowrap;
    text-decoration: none;
    text-align: center;
    border-width: 1px;
    border-style: solid;
    border-radius: 2em;
    transition: all .15s ease-in-out;
}
.tags_row{
    white-space: nowrap;
    overflow: auto;
    margin-bottom: 4px;
    margin-top: 4px;
        padding-bottom: 4px;
}
.tags_row::-webkit-scrollbar 
{
    height: 5px;
}

.tags_row::-webkit-scrollbar-thumb:horizontal 
{
	background-color: #33a3ca;  
	
	background-image: -webkit-gradient(linear, 0 0, 0 100%,
	                   color-stop(.5, rgba(255, 255, 255, .2)),
					   color-stop(.5, transparent), to(transparent));
}
.tags_row::-webkit-scrollbar-track  
{
    -webkit-box-shadow: inset 0 0 2px #33a3ca;
}
.url_tag a{
    color: #2b72bb;
    text-decoration: none;
    cursor: pointer;
}
.url_tag:hover{
    color: #4b6067;
    background-color: #cfe3f0;
    border-color: rgba(0,0,0,0);
}

.grid_results{
    height:-webkit-fill-available;
    width: 100%;
}
.md-virtual-repeat-scroller::-webkit-scrollbar 
{
    width: 12px;
}
.md-virtual-repeat-scroller::-webkit-scrollbar-thumb
{
	background-color: #33a3ca;  
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
	
}
.md-virtual-repeat-scroller::-webkit-scrollbar-track  
{
    -webkit-box-shadow: inset 0 0 1px #33a3ca;
}
/*
@media screen and (max-width: 500px){
  
     .item_result{
        height: 135px;
        margin: 16px 16px 4px 16px;
    }
}
@media screen and (min-width: 500px){
    .grid_results{
        height: 710px;
    }
   
}*/
    
/*
.grid_results::-webkit-scrollbar
{
	width: 5px;
}

.grid_results::-webkit-scrollbar-thumb
{
	background-color: #33a3ca;  
	
	background-image: -webkit-gradient(linear, 0 0, 0 100%,
	                   color-stop(.5, rgba(255, 255, 255, .2)),
					   color-stop(.5, transparent), to(transparent));
}*/

 #vertical-container {
  height: 292px;
  width: 100%;
  max-width: 400px; }
.dv_url_detail{
    padding-top: 5px;
    padding-bottom: 5px;
}

.footer{
    position:fixed;
    left:0px;
    bottom:0px;
    height:20px;
    width:100%;
    background:white;
    margin-top: -1px; 
}
.footer p{
    float:right;margin-right:1%;
}
.footer a {
    text-decoration:none;
}

/*.item_result:hover{
  background-color: #97cfe2;
    -webkit-transition: background-color 1000ms linear;
    -ms-transition: background-color 1000ms linear;
    transition: background-color 1000ms  ;

}*/
.item_result:hover{
    border-bottom: solid 1px rgba(0,0,0,0.13);
   
}
.item_result:hover{
    border-bottom: solid 1px rgba(0,0,0,0.13);
   
}
.chk_item_hover{
    visibility: visible;
    top:20px;
}
.chk_item{
    visibility: hidden;
/*    display: none;*/
    top:20px;
}

.item_result:hover .chk_item{
    visibility: visible;
    /*display: inline;*/
    top:20px;
}