  
<!--
  <md-content layout="column">
    <p>
       Display a list of 50,000 items that load on demand in a viewport of only 7 rows (height=40px).
       <br><br>
       This demo shows scroll and rendering performance gains when using <code>md-virtual-repeat</code>;
       achieved with the dynamic reuse of rows visible in the viewport area. Developers are required to
       explicitly use <code>md-virtual-repeat-container</code> as a wrapping parent container.
       <br><br>
       To enable load-on-demand behavior, developers must pass in a custom instance of
       mdVirtualRepeatModel (see the example's source for more info).
    </p>

    <md-virtual-repeat-container id="vertical-container">
      <div md-virtual-repeat="item in dynamicItems" md-on-demand="" class="repeated-item" flex="">
        {{item.url}}
      </div>
    </md-virtual-repeat-container>
  </md-content>
-->

<!--ver de sacarlo y ponerlo en otra view-->

<div class="header" >
    <div class="header-top" >
        <div class="toolbar">
            <span class="toolbar__label fs-title ml"></span>
            <div class="toolbar__right">
                <lx-search-filter lx-closed="false">
                    <input type="text" ng-model="tabs.tab" placeholder="Search">
                </lx-search-filter>
                <button class="btn btn--l btn--black btn--icon" lx-ripple>
                    <i class="mdi mdi-apps"></i>
                </button>
            </div>  
        </div>
    </div>
</div>

<lx-tabs class="after_header" lx-active-tab="0">
    <lx-tab lx-label="Now">
         <md-virtual-repeat-container class="grid_results" >
            <div class="item_result"  md-virtual-repeat="tab in dataSource"  md-on-demand
                 flex-container="row" flex-gutter="6" flex-wrap >
                <div flex-item="12">
                    <a class="url_link" href="{{ tab.url }}">{{ getShortString(tab.title,71) }}</a>
                    <div class="row"><cite class="url_detail">{{ getShortString(tab.url,100) }}</cite></div>
                    <span class="url_date">{{ getFecha(tab.dateCreated) }} </span>               
                    <div flex-container="row" flex-wrap >
                     <div class="url_tag" ng-repeat="tag in tab.tags track by $index">
                        <a href="#" > 
                            <font style="vertical-align: inherit;"><font style="vertical-align: inherit;">{{tag}}</font></font>
                        </a>
                      </div>
                    </div>
                </div>
            </div>

        </md-virtual-repeat-container >
     
    </lx-tab>
    <lx-tab lx-label="Images">
    </lx-tab>
    <lx-tab lx-label="Groups">
    </lx-tab>
    <lx-tab lx-label="Preferences">
    </lx-tab>
</lx-tabs>
 