<!--ver de sacarlo y ponerlo en otra view-->

<div class="header" >
    <div class="header-top" >
        <div class="toolbar">
            <span class="toolbar__label fs-title ml"></span>
            <div class="toolbar__right">
                <lx-search-filter lx-closed="false">
                    <input type="text" ng-model="tabs.tab" placeholder="Search">
                </lx-search-filter>
                <button class="btn btn--l btn--black btn--icon" lx-ripple>
                    <i class="mdi mdi-apps"></i>
                </button>
            </div>  
        </div>
    </div>
</div>

<lx-tabs class="after_header" lx-active-tab="0">
    <lx-tab lx-label="Now">
        <md-virtual-repeat-container class="grid_results" ng-cloak >
            <div class="item_result" md-virtual-repeat="tab in dynamicItems" md-on-demand
                 layout="row" >
                    <div  >
                        <div class="check_item" >
                            <md-checkbox ng-model="tab.checked"  aria-label="a"  class="md-primary"  ng-class="{chk_item : !tab.checked, chk_item_hover: tab.checked}"> </md-checkbox>
                        </div>
                    </div>
                    <div style="width: 100%" >
                        <div flex-item="12">
                        <a class="url_link" href="{{ tab.url }}">{{tab.shortTitle}}</a>
                        

                        <div class="row" ><cite class="url_detail">{{tab.shortUrl}}</cite></div>
                        <span class="url_date">{{tab.shortDate}}</span>               
                        <div flex-container="row" class="tags_row" flex-wrap  >
                        
                        <!--<md-progress-circular ng-disabled="tab.loadingTag" class="md-hue-2" md-diameter="20px"></md-progress-circular>-->
                        <div class="url_tag" ng-repeat="tag in tab.tags track by $index" >
                            <a href="#" > 
                                <font style="vertical-align: inherit;"><font style="vertical-align: inherit;">{{tag}}</font></font>
                            </a>
                        </div>
                        </div>
                        
                        </div>
                    </div>
            </div>

        </md-virtual-repeat-container >
        <md-progress-linear md-mode="indeterminate" ng-show="loading"></md-progress-linear>
        
    </lx-tab>
    <lx-tab lx-label="Images">
    </lx-tab>
    <lx-tab lx-label="Groups">
    </lx-tab>
    <lx-tab lx-label="Preferences">
    </lx-tab>
</lx-tabs>

 